.search{
  text-align: center;
  &__title{
	@include xs('font-size', 25px);
	font-size: 45px;
	font-weight: bold;
	padding: 30px;
  }
  &__input{
	width: 300px;
	height: 43px;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
  }
}
